h1 {
  color: red;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 5px;
  font-family: Arial;
  /* padding-left: 100px; */
  background-color: azure;
}
h3 {
  background-color: rgba(100, 125, 12, 0.9);
  border: 1px solid black;
  margin: 30px;
  padding: 10px;
  width: 200px;
  /* display: flex; */
}
span {
  background-color: red;
  border: 2px solid black;
  /* display: block; */
  width: 100px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
button {
  color: #ff00ff;
  background-color: beige;
  padding: 12px;
  margin-top: 30px;
}
p {
  color: rgb(44, 43, 111);
  text-align: center;
  /* line-height: 2; */
}
h2 {
  text-decoration: blue line-through wavy 2px;
}
#password {
  background-color: yellowgreen;
}
.naziv {
  background-color: blueviolet;
  font-size: larger;
}

input[type="password"] {
  color: red;
  /* opacity: 0.2; */
}
button:hover {
  color: orange;
  background-color: black;
}
button:active {
  background-color: green;
}
input[type="radio"]:checked {
  box-shadow: 0 0 0 3px pink;
}
/* .post:nth-of-type(2n) {
  background-color: green;
} svako drugi bojamo */
h2::first-letter {
  font-size: 40px;
}
p::first-line {
  color: red;
}
p::selection {
  background-color: grey;
}
div {
  width: 500px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: beige;
  border-left-color: orange;
  box-sizing: border-box;
  /* border: 4px solid orange; */
  border-radius: 10px;
  margin: 10px;
}
.dog {
  width: 210px;
  border: 1px solid grey;
  text-align: center;
  box-sizing: border-box;
}
img {
  width: 200px;
  border: 5px solid rgb(236, 183, 191);
  border-radius: 50%;
  opacity: 0.6;
  box-sizing: border-box;
}
